<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.melawai.ppuc.persistence.DepartmenMapper">

	<cache />

	<!-- result map-->
	<resultMap type="Departmen" id="DepartmenMap">
		<id property="dept_kd" column="dept_kd"  />  
		<result property="dept_kd" column="dept_kd" />
		<result property="divisi_kd" column="divisi_kd" />
		<result property="subdiv_kd" column="subdiv_kd" />
		<result property="dept_nm" column="dept_nm" />
		<result property="user_update" column="user_update" />
		<result property="tgl_update" column="tgl_update" />
		<result property="jam_update" column="jam_update" />
		<result property="user_create" column="user_create" />
		<result property="tgl_create" column="tgl_create" />
	</resultMap>

	<!-- nama kolom yang ingin ditampilkan -->
	<sql id="defaultColoumn">
		C.DEPT_KD as dept_kd,
		C.DIVISI_KD as divisi_kd,
		C.SUBDIV_KD as subdiv_kd,
		C.DEPT_NM as dept_nm,
		C.SYS_USER_UPDATE as user_update,
		C.SYS_TGL_UPDATE as tgl_update,
		C.SYS_JAM_UPDATE as jam_update,
		C.SYS_USER_CREATE as user_create,
		C.SYS_TGL_CREATE as tgl_create
	</sql>

	<!-- query select, dengan kolom yang default di atas, apabila mau ditambahkan join juga bisa disini
	perubahan query ini akan mempengaruhi select paging dan get di bawah  -->
	<sql id="selectQuery">
		select * from (
			select <include refid="defaultColoumn" /> from departmen C
		)T
	</sql>

	<!-- kolom apa aja yang mau disearching -->
	<sql id="searchTambahan">
		Where 1=1
			<!--!!TAMBAHAN parameter untuk search-->
	</sql>

	<!-- kolom apa aja yang mau disearching -->
	<sql id="search">
		WHERE 1=1 AND (
			 dept_kd like  CONCAT('%', #{search}, '%')
			 OR divisi_kd like  CONCAT('%', #{search}, '%')
			 OR subdiv_kd like  CONCAT('%', #{search}, '%')
			 OR dept_nm like  CONCAT('%', #{search}, '%')
			 OR user_update like  CONCAT('%', #{search}, '%')
			 OR jam_update like  CONCAT('%', #{search}, '%')
			 OR user_create like  CONCAT('%', #{search}, '%')
		)
	</sql>

	<!-- insert query untuk table ini -->
	<insert id="insert" parameterType="Departmen">
		INSERT INTO departmen (
			DEPT_KD,
			DIVISI_KD,
			SUBDIV_KD,
			DEPT_NM,
			SYS_USER_UPDATE,
			SYS_TGL_UPDATE,
			SYS_JAM_UPDATE,
			SYS_USER_CREATE,
			SYS_TGL_CREATE
		) values (
			#{dept_kd},
			#{divisi_kd},
			#{subdiv_kd},
			#{dept_nm},
			#{user_update},
			#{tgl_update},
			#{jam_update},
			#{user_create},
			#{tgl_create}
		)
	</insert>

	<!-- update query untuk table ini -->
	<update id="update" parameterType="Departmen">
		UPDATE departmen
		<set>
			<if test="dept_nm != null">DEPT_NM = #{dept_nm}, </if>
			<if test="user_update != null">SYS_USER_UPDATE = #{user_update}, </if>
			<if test="tgl_update != null">SYS_TGL_UPDATE = #{tgl_update}, </if>
			<if test="jam_update != null">SYS_JAM_UPDATE = #{jam_update}, </if>
			<if test="user_create != null">SYS_USER_CREATE = #{user_create}, </if>
			<if test="tgl_create != null">SYS_TGL_CREATE = #{tgl_create} </if>
		</set>
		WHERE DEPT_KD= #{dept_kd}
		AND SUBDIV_KD=#{subdiv_kd} 
		AND DIVISI_KD = #{divisi_kd}
	</update>

	<!-- remove query untuk table ini -->
	<delete id="remove" >
		delete from departmen 
		where DEPT_KD=#{dept_kd} 
		AND SUBDIV_KD=#{subdiv_kd} 
		AND DIVISI_KD = #{divisi_kd}
	</delete>

	<!-- get berdasarkan primary key -->
	<select id="get"  resultMap="DepartmenMap">
		<include refid="selectQuery" />	
		where T.dept_kd=#{dept_kd} 
		AND T.subdiv_kd=#{subdiv_kd} 
		AND T.divisi_kd = #{divisi_kd}
		
	</select>

	<!-- get ALL row -->
	<select id="getAll" resultMap="DepartmenMap">
		<include refid="selectQuery" />
	</select>

	<!-- select berdasarkan paging parameter -->
	<select id="selectPagingList" parameterType="Departmen" resultMap="DepartmenMap">
			SELECT x.* from (
				select * from (
					<include refid="selectQuery" />
					<include refid="searchTambahan" />
				) y
				<if test="search != null">
					<include refid="search" />
				</if>
				<if test="sort != null">
					order by ${sort}
				</if>
				 LIMIT #{page} , #{rowcount}
			)x
	</select>

	<!-- select jumlah seluruh data yang akan di paging -->
	<select id="selectPagingCount" parameterType="Departmen" resultType="Integer">
		select count(*) from(
			SELECT x.* from (
				select * from (
					<include refid="selectQuery" />
					<include refid="searchTambahan" />
				) y
				<if test="search != null">
					<include refid="search" />
				</if>
			)x
		) z
	</select>

	<!-- QUERY CUSTOM LAIN-LAIN bisa dimasukkan dibawah ini -->

</mapper>
