<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.melawai.ppuc.persistence.GroupUserMapper">

	<cache />

	<!-- result map-->
	<resultMap type="GroupUser" id="GroupUserMap">
		<id property="group_kd" column="group_kd"  />  
		<result property="group_nm" column="group_nm" />
		<result property="id_role" column="id_role" />
		<result property="user_create" column="user_create" />
		<result property="tgl_create" column="tgl_create" />
		<result property="jam_create" column="jam_create" />
		<association property="role" javaType="Role"  >
				<id property="id_role" column="r_id_role"  />  
				<result property="role_name" column="r_role_name" />
			</association>
			<collection property="menus" ofType="Menu" >
				<id property="menu_id" column="cm_menu_id"  />  
				<result property="parent" column="cm_parent" />
				<result property="nama" column="cm_nama" />
				<result property="link" column="cm_link" />
				<result property="level" column="cm_level" />
				<result property="urut" column="cm_urut" />
				<result property="path" column="cm_path" />
				<result property="f_aktif" column="cm_f_aktif" />
				<association property="menu_parent" javaType="Menu">
					<id property="menu_id" column="pm_menu_id"  />  
					<result property="parent" column="pm_parent" />
					<result property="nama" column="pm_nama" />
					<result property="link" column="pm_link" />
					<result property="level" column="pm_level" />
					<result property="urut" column="pm_urut" />
					<result property="path" column="pm_path" />
					<result property="f_aktif" column="pm_f_aktif" />
				</association>
			</collection>
	</resultMap>

	<!-- nama kolom yang ingin ditampilkan -->
	<sql id="defaultColoumn">
		C.GROUP_KD as group_kd,
		C.GROUP_NM as group_nm,
		C.ID_ROLE as id_role,
		C.SYS_USER_CREATE as user_create,
		C.SYS_TGL_CREATE as tgl_create,
		C.SYS_JAM_CREATE as jam_create,
		R.ID_ROLE as r_id_role,
		R.ROLE_NAME as r_role_name,
		CM.SYS_MENU_ID as cm_menu_id,
		CM.PARENT as cm_parent,
		CM.NAMA as cm_nama,
		CM.LINK as cm_link,
		CM.LEVEL as cm_level,
		CM.URUT as cm_urut,
		CM.SYS_PATH as cm_path,
		CM.F_AKTIF as cm_f_aktif,
		PM.SYS_MENU_ID as pm_menu_id,
		PM.PARENT as pm_parent,
		PM.NAMA as pm_nama,
		PM.LINK as pm_link,
		PM.LEVEL as pm_level,
		PM.URUT as pm_urut,
		PM.SYS_PATH as pm_path
	</sql>

	<!-- query select, dengan kolom yang default di atas, apabila mau ditambahkan join juga bisa disini
	perubahan query ini akan mempengaruhi select paging dan get di bawah  -->
	<sql id="selectQuery">
		select * from (
			select <include refid="defaultColoumn" /> from group_user C
			left outer join role r on C.id_role = r.id_role
			left outer join sys_akses_menu am on C.group_kd = am.group_kd
			left outer join menu cm on am.menu_id = cm.sys_menu_id and cm.f_aktif = 1
			left outer join menu pm on cm.parent = pm.sys_menu_id and pm.f_aktif = 1
			order by cm.sys_path, cm.urut
		)T
	</sql>

	<!-- kolom apa aja yang mau disearching -->
	<sql id="searchTambahan">
		Where 1=1
			<!--!!TAMBAHAN parameter untuk search-->
	</sql>

	<!-- kolom apa aja yang mau disearching -->
	<sql id="search">
		WHERE 1=1 AND (
			 group_kd like  CONCAT('%', #{search}, '%')
			 OR group_nm like  CONCAT('%', #{search}, '%')
			 OR user_create like  CONCAT('%', #{search}, '%')
			 OR jam_create like  CONCAT('%', #{search}, '%')
		)
	</sql>

	<!-- insert query untuk table ini -->
	<insert id="insert" parameterType="GroupUser">
		INSERT INTO group_user (
			GROUP_KD,
			GROUP_NM,
			ID_ROLE,
			SYS_USER_CREATE,
			SYS_TGL_CREATE,
			SYS_JAM_CREATE
		) values (
			#{group_kd},
			#{group_nm},
			#{id_role},
			#{user_create},
			#{tgl_create},
			#{jam_create}
		)
	</insert>

	<!-- update query untuk table ini -->
	<update id="update" parameterType="GroupUser">
		UPDATE group_user
		<set>
			<if test="group_kd != null">GROUP_KD = #{group_kd}, </if>
			<if test="group_nm != null">GROUP_NM = #{group_nm}, </if>
			<if test="id_role != null">ID_ROLE = #{id_role}, </if>
			<if test="user_create != null">SYS_USER_CREATE = #{user_create}, </if>
			<if test="tgl_create != null">SYS_TGL_CREATE = #{tgl_create}, </if>
			<if test="jam_create != null">SYS_JAM_CREATE = #{jam_create} </if>
		</set>
		WHERE  
			GROUP_KD= #{group_kd} 
	</update>

	<!-- remove query untuk table ini -->
	<delete id="remove" parameterType="String">
		delete from group_user where GROUP_KD=#{value}
	</delete>

	<!-- get berdasarkan primary key -->
	<select id="get" parameterType="String" resultMap="GroupUserMap">
		<include refid="selectQuery" />	where T.group_kd=#{value}
	</select>

	<!-- get ALL row -->
	<select id="getAll" resultMap="GroupUserMap">
		<include refid="selectQuery" />
	</select>

	<!-- select berdasarkan paging parameter -->
	<select id="selectPagingList" parameterType="GroupUser" resultMap="GroupUserMap">
			SELECT x.* from (
				select * from (
					<include refid="selectQuery" />
					<include refid="searchTambahan" />
				) y
				<if test="search != null">
					<include refid="search" />
				</if>
				<if test="sort != null">
					order by ${sort}
				</if>
				 LIMIT #{page} , #{rowcount}
			)x
	</select>

	<!-- select jumlah seluruh data yang akan di paging -->
	<select id="selectPagingCount" parameterType="GroupUser" resultType="Integer">
		select count(*) from(
			SELECT x.* from (
				select * from (
					<include refid="selectQuery" />
					<include refid="searchTambahan" />
				) y
				<if test="search != null">
					<include refid="search" />
				</if>
			)x
		) z
	</select>

	<!-- QUERY CUSTOM LAIN-LAIN bisa dimasukkan dibawah ini -->

</mapper>
