<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.melawai.ppuc.persistence.GroupLokasiDMapper">

	<cache />

	<!-- result map-->
	<resultMap type="GroupLokasiD" id="GroupLokasiDMap">
		<id property="divisi_kd" column="divisi_kd"  />  
		<id property="subdiv_kd" column="subdiv_kd"  />  
		<id property="group_lok" column="group_lok"  />  
		<id property="lok_kd" column="lok_kd"  />  
		<result property="divisi_kd" column="divisi_kd" />
		<result property="subdiv_kd" column="subdiv_kd" />
		<result property="group_lok" column="group_lok" />
		<result property="lok_kd" column="lok_kd" />
		<result property="user_create" column="user_create" />
		<result property="tgl_create" column="tgl_create" />
		<result property="jam_create" column="jam_create" />
		<association property="lokasi" javaType="Lokasi">
			<id property="lok_kd" column="l_lok_kd"  />  
			<result property="divisi_kd" column="l_divisi_kd" />
			<result property="subdiv_kd" column="l_subdiv_kd" />
			<result property="dept_kd" column="l_dept_kd" />
			<result property="lok_nm" column="l_lok_nm" />
			<result property="propinsi" column="l_propinsi" />
			<result property="kota" column="l_kota" />
			<result property="email" column="l_email" />
		</association>
	</resultMap>

	<!-- nama kolom yang ingin ditampilkan -->
	<sql id="defaultColoumn">
		C.DIVISI_KD as divisi_kd,
		C.SUBDIV_KD as subdiv_kd,
		C.GROUP_LOK as group_lok,
		C.LOK_KD as lok_kd,
		C.SYS_USER_CREATE as user_create,
		C.SYS_TGL_CREATE as tgl_create,
		C.SYS_JAM_CREATE as jam_create,		
		L.LOK_KD as l_lok_kd,
		L.DIVISI_KD as l_divisi_kd,
		L.SUBDIV_KD as l_subdiv_kd,
		L.DEPT_KD as l_dept_kd,
		L.LOK_NM as l_lok_nm,
		L.PROPINSI as l_propinsi,
		L.KOTA as l_kota,
		L.EMAIL as l_email
	</sql>

	<!-- query select, dengan kolom yang default di atas, apabila mau ditambahkan join juga bisa disini
	perubahan query ini akan mempengaruhi select paging dan get di bawah  -->
	<sql id="selectQuery">
		select * from (
			select <include refid="defaultColoumn" /> from group_lokasi_d C
			left outer join lokasi l on c.lok_kd = l.lok_kd
		)T
	</sql>

	<!-- kolom apa aja yang mau disearching -->
	<sql id="searchTambahan">
		Where 1=1
			<!--!!TAMBAHAN parameter untuk search-->
	</sql>

	<!-- kolom apa aja yang mau disearching -->
	<sql id="search">
		WHERE 1=1 AND (
			 divisi_kd like  CONCAT('%', #{search}, '%')
			 OR subdiv_kd like  CONCAT('%', #{search}, '%')
			 OR group_lok like  CONCAT('%', #{search}, '%')
			 OR lok_kd like  CONCAT('%', #{search}, '%')
			 OR user_create like  CONCAT('%', #{search}, '%')
			 OR jam_create like  CONCAT('%', #{search}, '%')
		)
	</sql>

	<!-- insert query untuk table ini -->
	<insert id="insert" parameterType="GroupLokasiD">
		INSERT INTO group_lokasi_d (
			DIVISI_KD,
			SUBDIV_KD,
			GROUP_LOK,
			LOK_KD,
			SYS_USER_CREATE,
			SYS_TGL_CREATE,
			SYS_JAM_CREATE
		) values (
			#{divisi_kd},
			#{subdiv_kd},
			#{group_lok},
			#{lok_kd},
			#{user_create},
			#{tgl_create},
			#{jam_create}
		)
	</insert>

	<!-- update query untuk table ini -->
	<update id="update" parameterType="GroupLokasiD">
		UPDATE group_lokasi_d
		<set>
			<if test="divisi_kd != null">DIVISI_KD = #{divisi_kd}, </if>
			<if test="subdiv_kd != null">SUBDIV_KD = #{subdiv_kd}, </if>
			<if test="group_lok != null">GROUP_LOK = #{group_lok}, </if>
			<if test="lok_kd != null">LOK_KD = #{lok_kd}, </if>
			<if test="user_create != null">SYS_USER_CREATE = #{user_create}, </if>
			<if test="tgl_create != null">SYS_TGL_CREATE = #{tgl_create}, </if>
			<if test="jam_create != null">SYS_JAM_CREATE = #{jam_create} </if>
		</set>
		WHERE  
			DIVISI_KD= #{divisi_kd} 
			AND SUBDIV_KD= #{subdiv_kd}
			AND GROUP_LOK= #{group_lok}
			AND LOK_KD= #{lok_kd}
	</update>

	<!-- remove query untuk table ini -->
	<delete id="remove" parameterType="HashMap">
		delete from group_lokasi_d
		 <where> 
			<if test="divisi_kd != null">DIVISI_KD= #{divisi_kd} </if>
			<if test="subdiv_kd != null"> AND SUBDIV_KD= #{subdiv_kd} </if>
			<if test="group_lok != null"> AND GROUP_LOK= #{group_lok} </if>
			<if test="lok_kd != null"> AND LOK_KD= #{lok_kd} </if>
		 </where> 
	</delete>

	<!-- get berdasarkan primary key -->
	<select id="get" parameterType="HashMap" resultMap="GroupLokasiDMap">
		<include refid="selectQuery" />
		 <where> 
			<if test="divisi_kd != null"> T.divisi_kd= #{divisi_kd} </if>
			<if test="subdiv_kd != null"> AND T.subdiv_kd= #{subdiv_kd} </if>
			<if test="group_lok != null"> AND T.group_lok= #{group_lok} </if>
			<if test="lok_kd != null"> AND T.lok_kd= #{lok_kd} </if>
		 </where> 
	</select>

	<!-- get ALL row -->
	<select id="getAll" resultMap="GroupLokasiDMap">
		<include refid="selectQuery" />
	</select>

	<!-- select berdasarkan paging parameter -->
	<select id="selectPagingList" parameterType="GroupLokasiD" resultMap="GroupLokasiDMap">
			SELECT x.* from (
				select * from (
					<include refid="selectQuery" />
					<include refid="searchTambahan" />
				) y
				<if test="search != null">
					<include refid="search" />
				</if>
				<if test="sort != null">
					order by ${sort}
				</if>
				 LIMIT #{page} , #{rowcount}
			)x
	</select>

	<!-- select jumlah seluruh data yang akan di paging -->
	<select id="selectPagingCount" parameterType="GroupLokasiD" resultType="Integer">
		select count(*) from(
			SELECT x.* from (
				select * from (
					<include refid="selectQuery" />
					<include refid="searchTambahan" />
				) y
				<if test="search != null">
					<include refid="search" />
				</if>
			)x
		) z
	</select>

	<!-- QUERY CUSTOM LAIN-LAIN bisa dimasukkan dibawah ini -->

</mapper>
