<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.melawai.ppuc.persistence.GroupBiayaMapper">

	<cache />

	<!-- result map-->
	<resultMap type="GroupBiaya" id="GroupBiayaMap">
		<id property="kd_group" column="kd_group"  />  
		<result property="nm_group" column="nm_group" />
		<result property="user_create" column="user_create" />
		<result property="tgl_create" column="tgl_create" />
		<result property="jam_create" column="jam_create" />
	</resultMap>

	<!-- nama kolom yang ingin ditampilkan -->
	<sql id="defaultColoumn">
		C.KD_GROUP as kd_group,
		C.NM_GROUP as nm_group,
		C.SYS_USER_CREATE as user_create,
		C.SYS_TGL_CREATE as tgl_create,
		C.SYS_JAM_CREATE as jam_create
	</sql>

	<!-- query select, dengan kolom yang default di atas, apabila mau ditambahkan join juga bisa disini
	perubahan query ini akan mempengaruhi select paging dan get di bawah  -->
	<sql id="selectQuery">
		select * from (
			select <include refid="defaultColoumn" /> from group_biaya C
		)T
	</sql>

	<!-- kolom apa aja yang mau disearching -->
	<sql id="searchTambahan">
		Where 1=1
			<!--!!TAMBAHAN parameter untuk search-->
	</sql>

	<!-- kolom apa aja yang mau disearching -->
	<sql id="search">
		WHERE 1=1 AND (
			 kd_group like  CONCAT('%', #{search}, '%')
			 OR nm_group like  CONCAT('%', #{search}, '%')
			 OR user_create like  CONCAT('%', #{search}, '%')
			 OR jam_create like  CONCAT('%', #{search}, '%')
		)
	</sql>

	<!-- insert query untuk table ini -->
	<insert id="insert" parameterType="GroupBiaya">
		INSERT INTO group_biaya (
			KD_GROUP,
			NM_GROUP,
			SYS_USER_CREATE,
			SYS_TGL_CREATE,
			SYS_JAM_CREATE
		) values (
			#{kd_group},
			#{nm_group},
			#{user_create},
			#{tgl_create},
			#{jam_create}
		)
	</insert>

	<!-- update query untuk table ini -->
	<update id="update" parameterType="GroupBiaya">
		UPDATE group_biaya
		<set>
			<if test="kd_group != null">KD_GROUP = #{kd_group}, </if>
			<if test="nm_group != null">NM_GROUP = #{nm_group}, </if>
			<if test="user_create != null">SYS_USER_CREATE = #{user_create}, </if>
			<if test="tgl_create != null">SYS_TGL_CREATE = #{tgl_create}, </if>
			<if test="jam_create != null">SYS_JAM_CREATE = #{jam_create} </if>
		</set>
		WHERE  
			KD_GROUP= #{kd_group} 
	</update>

	<!-- remove query untuk table ini -->
	<delete id="remove" parameterType="String">
		delete from group_biaya where KD_GROUP=#{value}
	</delete>

	<!-- get berdasarkan primary key -->
	<select id="get" parameterType="String" resultMap="GroupBiayaMap">
		<include refid="selectQuery" />	where T.kd_group=#{value}
	</select>

	<!-- get ALL row -->
	<select id="getAll" resultMap="GroupBiayaMap">
		<include refid="selectQuery" />
	</select>

	<!-- select berdasarkan paging parameter -->
	<select id="selectPagingList" parameterType="GroupBiaya" resultMap="GroupBiayaMap">
			SELECT x.* from (
				select * from (
					<include refid="selectQuery" />
					<include refid="searchTambahan" />
				) y
				<if test="search != null">
					<include refid="search" />
				</if>
				<if test="sort != null">
					order by ${sort}
				</if>
				 LIMIT #{page} , #{rowcount}
			)x
	</select>

	<!-- select jumlah seluruh data yang akan di paging -->
	<select id="selectPagingCount" parameterType="GroupBiaya" resultType="Integer">
		select count(*) from(
			SELECT x.* from (
				select * from (
					<include refid="selectQuery" />
					<include refid="searchTambahan" />
				) y
				<if test="search != null">
					<include refid="search" />
				</if>
			)x
		) z
	</select>

	<!-- QUERY CUSTOM LAIN-LAIN bisa dimasukkan dibawah ini -->

</mapper>
