<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.melawai.ppuc.persistence.KotaMapper">

	<cache />

	<!-- result map-->
	<resultMap type="Kota" id="KotaMap">
		<id property="propinsi" column="propinsi"  />  
		<id property="kota" column="kota"  />  
		<result property="propinsi" column="propinsi" />
		<result property="kota" column="kota" />
		<result property="user_create" column="user_create" />
		<result property="tgl_create" column="tgl_create" />
		<result property="jam_create" column="jam_create" />
	</resultMap>

	<!-- nama kolom yang ingin ditampilkan -->
	<sql id="defaultColoumn">
		C.PROPINSI as propinsi,
		C.KOTA as kota,
		C.SYS_USER_CREATE as user_create,
		C.SYS_TGL_CREATE as tgl_create,
		C.SYS_JAM_CREATE as jam_create
	</sql>

	<!-- query select, dengan kolom yang default di atas, apabila mau ditambahkan join juga bisa disini
	perubahan query ini akan mempengaruhi select paging dan get di bawah  -->
	<sql id="selectQuery">
		select * from (
			select <include refid="defaultColoumn" /> from kota C
		)T
	</sql>

	<!-- kolom apa aja yang mau disearching -->
	<sql id="searchTambahan">
		Where 1=1
			<!--!!TAMBAHAN parameter untuk search-->
	</sql>

	<!-- kolom apa aja yang mau disearching -->
	<sql id="search">
		WHERE 1=1 AND (
			 propinsi like  CONCAT('%', #{search}, '%')
			 OR kota like  CONCAT('%', #{search}, '%')
			 OR user_create like  CONCAT('%', #{search}, '%')
			 OR jam_create like  CONCAT('%', #{search}, '%')
		)
	</sql>

	<!-- insert query untuk table ini -->
	<insert id="insert" parameterType="Kota">
		INSERT INTO kota (
			PROPINSI,
			KOTA,
			SYS_USER_CREATE,
			SYS_TGL_CREATE,
			SYS_JAM_CREATE
		) values (
			#{propinsi},
			#{kota},
			#{user_create},
			#{tgl_create},
			#{jam_create}
		)
	</insert>

	<!-- update query untuk table ini -->
	<update id="update" parameterType="Kota">
		UPDATE kota
		<set>
			<if test="propinsi != null">PROPINSI = #{propinsi}, </if>
			<if test="kota != null">KOTA = #{kota}, </if>
			<if test="user_create != null">SYS_USER_CREATE = #{user_create}, </if>
			<if test="tgl_create != null">SYS_TGL_CREATE = #{tgl_create}, </if>
			<if test="jam_create != null">SYS_JAM_CREATE = #{jam_create} </if>
		</set>
		WHERE  
			PROPINSI= #{propinsi} 
			AND KOTA= #{kota}
	</update>

	<!-- remove query untuk table ini -->
	<delete id="remove" parameterType="HashMap">
		delete from kota
		 <where> 
			<if test="propinsi != null">PROPINSI= #{propinsi} </if>
			<if test="kota != null"> AND KOTA= #{kota} </if>
		 </where> 
	</delete>

	<!-- get berdasarkan primary key -->
	<select id="get" parameterType="HashMap" resultMap="KotaMap">
		<include refid="selectQuery" />
		 <where> 
			<if test="propinsi != null"> T.propinsi= #{propinsi} </if>
			<if test="kota != null"> AND T.kota= #{kota} </if>
		 </where> 
	</select>

	<!-- get ALL row -->
	<select id="getAll" resultMap="KotaMap">
		<include refid="selectQuery" />
	</select>

	<!-- select berdasarkan paging parameter -->
	<select id="selectPagingList" parameterType="Kota" resultMap="KotaMap">
			SELECT x.* from (
				select * from (
					<include refid="selectQuery" />
					<include refid="searchTambahan" />
				) y
				<if test="search != null">
					<include refid="search" />
				</if>
				<if test="sort != null">
					order by ${sort}
				</if>
				 LIMIT #{page} , #{rowcount}
			)x
	</select>

	<!-- select jumlah seluruh data yang akan di paging -->
	<select id="selectPagingCount" parameterType="Kota" resultType="Integer">
		select count(*) from(
			SELECT x.* from (
				select * from (
					<include refid="selectQuery" />
					<include refid="searchTambahan" />
				) y
				<if test="search != null">
					<include refid="search" />
				</if>
			)x
		) z
	</select>

	<!-- QUERY CUSTOM LAIN-LAIN bisa dimasukkan dibawah ini -->

</mapper>
