<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.melawai.ppuc.persistence.LokasiMapper">

	<cache />

	<!-- result map-->
	<resultMap type="Lokasi" id="LokasiMap">
		<id property="lok_kd" column="lok_kd"  />  
		<result property="lok_kd" column="lok_kd" />
		<result property="divisi_kd" column="divisi_kd" />
		<result property="subdiv_kd" column="subdiv_kd" />
		<result property="dept_kd" column="dept_kd" />
		<result property="lok_nm" column="lok_nm" />
		<result property="propinsi" column="propinsi" />
		<result property="kota" column="kota" />
		<result property="email" column="email" />
		<result property="f_tutup" column="f_tutup" />
		<result property="tgl_tutup" column="tgl_tutup" />
		<result property="ctr_ppuc" column="ctr_ppuc" />
		<result property="max_ctr_ppuc" column="max_ctr_ppuc" />
		<result property="ctr_batch" column="ctr_batch" />
		<result property="max_ctr_batch" column="max_ctr_batch" />
		<result property="ctr_realisasi" column="ctr_realisasi" />
		<result property="max_ctr_realisasi" column="max_ctr_realisasi" />
		<result property="curr_ctr_date" column="curr_ctr_date" />
		<result property="user_update" column="user_update" />
		<result property="tgl_update" column="tgl_update" />
		<result property="jam_update" column="jam_update" />
		<result property="user_create" column="user_create" />
		<result property="tgl_create" column="tgl_create" />
	</resultMap>

	<!-- nama kolom yang ingin ditampilkan -->
	<sql id="defaultColoumn">
		C.LOK_KD as lok_kd,
		C.DIVISI_KD as divisi_kd,
		C.SUBDIV_KD as subdiv_kd,
		C.DEPT_KD as dept_kd,
		C.LOK_NM as lok_nm,
		C.PROPINSI as propinsi,
		C.KOTA as kota,
		C.EMAIL as email,
		C.F_TUTUP as f_tutup,
		C.TGL_TUTUP as tgl_tutup,
		C.CTR_PPUC as ctr_ppuc,
		C.MAX_CTR_PPUC as max_ctr_ppuc,
		C.CTR_BATCH as ctr_batch,
		C.MAX_CTR_BATCH as max_ctr_batch,
		C.CTR_REALISASI as ctr_realisasi,
		C.MAX_CTR_REALISASI as max_ctr_realisasi,
		C.CURR_CTR_DATE as curr_ctr_date,
		C.SYS_USER_UPDATE as user_update,
		C.SYS_TGL_UPDATE as tgl_update,
		C.SYS_JAM_UPDATE as jam_update,
		C.SYS_USER_CREATE as user_create,
		C.SYS_TGL_CREATE as tgl_create
	</sql>

	<!-- query select, dengan kolom yang default di atas, apabila mau ditambahkan join juga bisa disini
	perubahan query ini akan mempengaruhi select paging dan get di bawah  -->
	<sql id="selectQuery">
		select * from (
			select <include refid="defaultColoumn" /> from lokasi C
		)T
	</sql>

	<!-- kolom apa aja yang mau disearching -->
	<sql id="searchTambahan">
		Where 1=1
			<!--!!TAMBAHAN parameter untuk search-->
	</sql>

	<!-- kolom apa aja yang mau disearching -->
	<sql id="search">
		WHERE 1=1 AND (
			 lok_kd like  CONCAT('%', #{search}, '%')
			 OR divisi_kd like  CONCAT('%', #{search}, '%')
			 OR subdiv_kd like  CONCAT('%', #{search}, '%')
			 OR dept_kd like  CONCAT('%', #{search}, '%')
			 OR lok_nm like  CONCAT('%', #{search}, '%')
			 OR propinsi like  CONCAT('%', #{search}, '%')
			 OR kota like  CONCAT('%', #{search}, '%')
			 OR email like  CONCAT('%', #{search}, '%')
			 OR f_tutup like  CONCAT('%', #{search}, '%')
			 OR user_update like  CONCAT('%', #{search}, '%')
			 OR jam_update like  CONCAT('%', #{search}, '%')
			 OR user_create like  CONCAT('%', #{search}, '%')
		)
	</sql>

	<!-- insert query untuk table ini -->
	<insert id="insert" parameterType="Lokasi">
		INSERT INTO lokasi (
			LOK_KD,
			DIVISI_KD,
			SUBDIV_KD,
			DEPT_KD,
			LOK_NM,
			PROPINSI,
			KOTA,
			EMAIL,
			F_TUTUP,
			TGL_TUTUP,
			CTR_PPUC,
			MAX_CTR_PPUC,
			CTR_BATCH,
			MAX_CTR_BATCH,
			CTR_REALISASI,
			MAX_CTR_REALISASI,
			CURR_CTR_DATE,
			SYS_USER_UPDATE,
			SYS_TGL_UPDATE,
			SYS_JAM_UPDATE,
			SYS_USER_CREATE,
			SYS_TGL_CREATE
		) values (
			#{lok_kd},
			#{divisi_kd},
			#{subdiv_kd},
			#{dept_kd},
			#{lok_nm},
			#{propinsi},
			#{kota},
			#{email},
			#{f_tutup},
			#{tgl_tutup},
			#{ctr_ppuc},
			#{max_ctr_ppuc},
			#{ctr_batch},
			#{max_ctr_batch},
			#{ctr_realisasi},
			#{max_ctr_realisasi},
			#{curr_ctr_date},
			#{user_update},
			#{tgl_update},
			#{jam_update},
			#{user_create},
			#{tgl_create}
		)
	</insert>

	<!-- update query untuk table ini -->
	<update id="update" parameterType="Lokasi">
		UPDATE lokasi
		set TGL_TUTUP = #{tgl_tutup}, 
		<trim suffixOverrides=",">
			<if test="lok_nm != null">LOK_NM = #{lok_nm}, </if>
			<if test="propinsi != null">PROPINSI = #{propinsi}, </if>
			<if test="kota != null">KOTA = #{kota}, </if>
			<if test="email != null">EMAIL = #{email}, </if>
			<if test="f_tutup != null">F_TUTUP = #{f_tutup}, </if>
			<if test="ctr_ppuc != null">CTR_PPUC = #{ctr_ppuc}, </if>
			<if test="max_ctr_ppuc != null">MAX_CTR_PPUC = #{max_ctr_ppuc}, </if>
			<if test="ctr_batch != null">CTR_BATCH = #{ctr_batch}, </if>
			<if test="max_ctr_batch != null">MAX_CTR_BATCH = #{max_ctr_batch}, </if>
			<if test="ctr_realisasi != null">CTR_REALISASI = #{ctr_realisasi}, </if>
			<if test="max_ctr_realisasi != null">MAX_CTR_REALISASI = #{max_ctr_realisasi}, </if>
			<if test="curr_ctr_date != null">CURR_CTR_DATE = #{curr_ctr_date}, </if>
			<if test="user_update != null">SYS_USER_UPDATE = #{user_update}, </if>
			<if test="tgl_update != null">SYS_TGL_UPDATE = #{tgl_update}, </if>
			<if test="jam_update != null">SYS_JAM_UPDATE = #{jam_update}, </if>
			<if test="user_create != null">SYS_USER_CREATE = #{user_create}, </if>
			<if test="tgl_create != null">SYS_TGL_CREATE = #{tgl_create} </if>
		</trim>
		WHERE LOK_KD= #{lok_kd} 
		AND	DEPT_KD= #{dept_kd}
		AND SUBDIV_KD=#{subdiv_kd} 
		AND DIVISI_KD = #{divisi_kd}
	</update>

	<!-- remove query untuk table ini -->
	<delete id="remove" >
		delete from lokasi 
		 <where> 
			<if test="lok_kd != null">LOK_KD= #{lok_kd} </if>
			<if test="divisi_kd != null"> AND DIVISI_KD= #{divisi_kd} </if>
			<if test="subdiv_kd != null"> AND SUBDIV_KD= #{subdiv_kd} </if>
			<if test="dept_kd != null"> AND DEPT_KD= #{dept_kd} </if>
		 </where> 
	</delete>

	<!-- get berdasarkan primary key -->
	<select id="get" resultMap="LokasiMap">
		<include refid="selectQuery" />
		 <where> 
			<if test="lok_kd != null"> T.lok_kd= #{lok_kd} </if>
			<if test="divisi_kd != null"> AND T.divisi_kd= #{divisi_kd} </if>
			<if test="subdiv_kd != null"> AND T.subdiv_kd= #{subdiv_kd} </if>
			<if test="dept_kd != null"> AND T.dept_kd= #{dept_kd} </if>
		 </where> 
	</select>

	<!-- get ALL row -->
	<select id="getAll" resultMap="LokasiMap">
		<include refid="selectQuery" />
	</select>

	<!-- select berdasarkan paging parameter -->
	<select id="selectPagingList" parameterType="Lokasi" resultMap="LokasiMap">
			SELECT x.* from (
				select * from (
					<include refid="selectQuery" />
					<include refid="searchTambahan" />
				) y
				<if test="search != null">
					<include refid="search" />
				</if>
				<if test="sort != null">
					order by ${sort}
				</if>
				 LIMIT #{page} , #{rowcount}
			)x
	</select>

	<!-- select jumlah seluruh data yang akan di paging -->
	<select id="selectPagingCount" parameterType="Lokasi" resultType="Integer">
		select count(*) from(
			SELECT x.* from (
				select * from (
					<include refid="selectQuery" />
					<include refid="searchTambahan" />
				) y
				<if test="search != null">
					<include refid="search" />
				</if>
			)x
		) z
	</select>

	<!-- QUERY CUSTOM LAIN-LAIN bisa dimasukkan dibawah ini -->

</mapper>
