<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.melawai.ppuc.persistence.PpucHMapper">

	<cache />

	<!-- result map-->
	<resultMap type="PpucH" id="PpucHMap">
		<id property="divisi_kd" column="divisi_kd"  />  
		<id property="subdiv_kd" column="subdiv_kd"  />  
		<id property="dept_kd" column="dept_kd"  />  
		<id property="lok_kd" column="lok_kd"  />  
		<id property="no_ppuc" column="no_ppuc"  />  
		<id property="tgl_ppuc" column="tgl_ppuc"  />  
		<result property="divisi_kd" column="divisi_kd" />
		<result property="subdiv_kd" column="subdiv_kd" />
		<result property="dept_kd" column="dept_kd" />
		<result property="lok_kd" column="lok_kd" />
		<result property="no_ppuc" column="no_ppuc" />
		<result property="tgl_ppuc" column="tgl_ppuc" />
		<result property="no_batch" column="no_batch" />
		<result property="user_create" column="user_create" />
		<result property="tgl_create" column="tgl_create" />
		<result property="jam_create" column="jam_create" />
		<result property="user_confirm" column="user_confirm" />
		<result property="tgl_confirm" column="tgl_confirm" />
		<result property="jam_confirm" column="jam_confirm" />
		<result property="hp_asal_create" column="hp_asal_create" />
		<result property="hp_tujuan_create" column="hp_tujuan_create" />
		<result property="email_asal_create" column="email_asal_create" />
		<result property="email_tujuan_create" column="email_tujuan_create" />
		<result property="divisi_kd_apprv" column="divisi_kd_apprv" />
		<result property="subdiv_kd_apprv" column="subdiv_kd_apprv" />
		<result property="dept_kd_apprv" column="dept_kd_apprv" />
		<result property="user_approve" column="user_approve" />
		<result property="tgl_approve" column="tgl_approve" />
		<result property="jam_approve" column="jam_approve" />
		<result property="f_approval" column="f_approval" />
		<result property="hp_asal_approve" column="hp_asal_approve" />
		<result property="hp_tujuan_approve" column="hp_tujuan_approve" />
		<result property="email_asal_approve" column="email_asal_approve" />
		<result property="email_tujuan_approve" column="email_tujuan_approve" />
		<result property="no_realisasi" column="no_realisasi" />
		<result property="user_realisasi" column="user_realisasi" />
		<result property="tgl_realisasi" column="tgl_realisasi" />
		<result property="jam_realisasi" column="jam_realisasi" />
		<result property="user_conf_real" column="user_conf_real" />
		<result property="tgl_conf_real" column="tgl_conf_real" />
		<result property="jam_conf_real" column="jam_conf_real" />
		<result property="user_conf_oc" column="user_conf_oc" />
		<result property="tgl_conf_oc" column="tgl_conf_oc" />
		<result property="jam_conf_oc" column="jam_conf_oc" />
		<result property="hp_asal_conf_oc" column="hp_asal_conf_oc" />
		<result property="hp_tujuan_conf_oc" column="hp_tujuan_conf_oc" />
		<result property="email_asal_conf_oc" column="email_asal_conf_oc" />
		<result property="email_tujuan_conf_oc" column="email_tujuan_conf_oc" />
		<result property="f_batal" column="f_batal" />
		<result property="user_batal" column="user_batal" />
		<result property="tgl_batal" column="tgl_batal" />
		<result property="jam_batal" column="jam_batal" />
		<result property="alasan_batal" column="alasan_batal" />
		<result property="hp_asal_batal" column="hp_asal_batal" />
		<result property="hp_tujuan_batal" column="hp_tujuan_batal" />
		<result property="email_asal_batal" column="email_asal_batal" />
		<result property="email_tujuan_batal" column="email_tujuan_batal" />
		<result property="posisi" column="posisi"/>
		<result property="posisi_desc" column="posisi_desc"/>
		<association property="divisi" javaType="Divisi">
			<id property="divisi_kd" column="dc_divisi_kd"  />  
			<result property="divisi_nm" column="dc_divisi_nm" />
		</association>
		<association property="divisi_app" javaType="Divisi">
			<id property="divisi_kd" column="dac_divisi_kd"  />  
			<result property="divisi_nm" column="dac_divisi_nm" />
		</association>
		<association property="subdivisi" javaType="Subdivisi">
			<id property="subdiv_kd" column="sc_subdiv_kd"  />  
			<result property="subdiv_nm" column="sc_subdiv_nm" />
		</association>
		<association property="subdivisi_app" javaType="Subdivisi">
			<id property="subdiv_kd" column="sac_subdiv_kd"  />  
			<result property="subdiv_nm" column="sac_subdiv_nm" />
		</association>
		<association property="departmen" javaType="Departmen">
			<id property="dept_kd" column="dpc_dept_kd"  />  
			<result property="dept_nm" column="dpc_dept_nm" />
		</association>
		<association property="departmen_app" javaType="Departmen">
			<id property="dept_kd" column="dpac_dept_kd"  />  
			<result property="dept_nm" column="dpac_dept_nm" />
		</association>
		<association property="lokasi" javaType="Lokasi">
			<id property="lok_kd" column="lc_lok_kd"  />  
			<result property="lok_nm" column="lc_lok_nm" />
			<result property="propinsi" column="lc_propinsi" />
			<result property="kota" column="lc_kota" />
			<result property="email" column="lc_email" />
			<result property="f_tutup" column="lc_f_tutup" />
			<result property="tgl_tutup" column="lc_tgl_tutup" />
		</association>
		<association property="user_d" javaType="User">
			<id property="user_id" column="uc_user_id"  />  
			<result property="user_name" column="uc_user_name" />
			<result property="no_hp" column="uc_no_hp" />
			<result property="email" column="uc_email" />
		</association>
		<association property="user_conf_d" javaType="User">
			<id property="user_id" column="ucc_user_id"  />  
			<result property="user_name" column="ucc_user_name" />
			<result property="no_hp" column="ucc_no_hp" />
			<result property="email" column="ucc_email" />
		</association>
		<association property="user_app_d" javaType="User">
			<id property="user_id" column="uac_user_id"  />  
			<result property="user_name" column="uac_user_name" />
			<result property="no_hp" column="uac_no_hp" />
			<result property="email" column="uac_email" />
		</association>
		<association property="user_real_d" javaType="User">
			<id property="user_id" column="urc_user_id"  />  
			<result property="user_name" column="urc_user_name" />
			<result property="no_hp" column="urc_no_hp" />
			<result property="email" column="urc_email" />
		</association>
		<association property="user_conf_real_d" javaType="User">
			<id property="user_id" column="ucrc_user_id"  />  
			<result property="user_name" column="ucrc_user_name" />
			<result property="no_hp" column="ucrc_no_hp" />
			<result property="email" column="ucrc_email" />
		</association>
		<association property="user_conf_oc_d" javaType="User">
			<id property="user_id" column="ucoc_user_id"  />  
			<result property="user_name" column="ucoc_user_name" />
			<result property="no_hp" column="ucoc_no_hp" />
			<result property="email" column="ucoc_email" />
		</association>
		<collection property="ppucds" ofType="PpucD">
			<id property="divisi_kd" column="pd_divisi_kd"  />  
			<id property="subdiv_kd" column="pd_subdiv_kd"  />  
			<id property="dept_kd" column="pd_dept_kd"  />  
			<id property="lok_kd" column="pd_lok_kd"  />  
			<id property="no_ppuc" column="pd_no_ppuc"  />  
			<id property="tgl_ppuc" column="pd_tgl_ppuc"  />  
			<id property="kd_biaya" column="pd_kd_biaya"  />  
			<result property="divisi_kd" column="pd_divisi_kd" />
			<result property="subdiv_kd" column="pd_subdiv_kd" />
			<result property="dept_kd" column="pd_dept_kd" />
			<result property="lok_kd" column="pd_lok_kd" />
			<result property="no_ppuc" column="pd_no_ppuc" />
			<result property="tgl_ppuc" column="pd_tgl_ppuc" />
			<result property="kd_group" column="pd_kd_group" />
			<result property="kd_biaya" column="pd_kd_biaya" />
			<result property="no_batch" column="pd_no_batch" />
			<result property="qty" column="pd_qty" />
			<result property="harga" column="pd_harga" />
			<result property="total" column="pd_total" />
			<result property="qty_old" column="pd_qty_old" />
			<result property="harga_old" column="pd_harga_old" />
			<result property="total_old" column="pd_total_old" />
			<result property="keterangan" column="pd_keterangan" />
			<result property="ket_approve" column="pd_ket_approve" />
			<result property="no_realisasi" column="pd_no_realisasi" />
			<result property="qty_real_cbg" column="pd_qty_real_cbg" />
			<result property="harga_real_cbg" column="pd_harga_real_cbg" />
			<result property="total_real_cbg" column="pd_total_real_cbg" />
			<result property="qty_real_oc" column="pd_qty_real_oc" />
			<result property="harga_real_oc" column="pd_harga_real_oc" />
			<result property="total_real_oc" column="pd_total_real_oc" />
			<result property="nilai_charge" column="pd_nilai_charge" />
			<association property="groupBiaya" javaType="GroupBiaya">
				<id property="kd_group" column="gb_kd_group"  />  
				<result property="nm_group" column="gb_nm_group" />
			</association>
			<association property="detailBiaya" javaType="DetailBiaya">
				<id property="kd_biaya" column="db_kd_biaya"  />  
				<result property="kd_group" column="db_kd_group" />
				<result property="biaya_description" column="db_biaya_description" />
				<result property="f_putus" column="db_f_putus" />
				<result property="f_used" column="db_f_used" />
				<result property="acc_no" column="db_acc_no" />
			</association>
		</collection>
	</resultMap>

	<!-- nama kolom yang ingin ditampilkan -->
	<sql id="basicColoumn">
		C.DIVISI_KD as divisi_kd,
		C.SUBDIV_KD as subdiv_kd,
		C.DEPT_KD as dept_kd,
		C.LOK_KD as lok_kd,
		C.SYS_NO_PPUC as no_ppuc,
		C.TGL_PPUC as tgl_ppuc,
		C.NO_BATCH as no_batch,
		C.SYS_USER_CREATE as user_create,
		C.SYS_TGL_CREATE as tgl_create,
		C.SYS_JAM_CREATE as jam_create,
		C.SYS_USER_CONFIRM as user_confirm,
		C.SYS_TGL_CONFIRM as tgl_confirm,
		C.SYS_JAM_CONFIRM as jam_confirm,
		C.SYS_HP_ASAL_CREATE as hp_asal_create,
		C.SYS_HP_TUJUAN_CREATE as hp_tujuan_create,
		C.SYS_EMAIL_ASAL_CREATE as email_asal_create,
		C.SYS_EMAIL_TUJUAN_CREATE as email_tujuan_create,
		C.SYS_DIVISI_KD_APPRV as divisi_kd_apprv,
		C.SYS_SUBDIV_KD_APPRV as subdiv_kd_apprv,
		C.SYS_DEPT_KD_APPRV as dept_kd_apprv,
		C.SYS_USER_APPROVE as user_approve,
		C.SYS_TGL_APPROVE as tgl_approve,
		C.SYS_JAM_APPROVE as jam_approve,
		C.F_APPROVAL as f_approval,
		C.SYS_HP_ASAL_APPROVE as hp_asal_approve,
		C.SYS_HP_TUJUAN_APPROVE as hp_tujuan_approve,
		C.SYS_EMAIL_ASAL_APPROVE as email_asal_approve,
		C.SYS_EMAIL_TUJUAN_APPROVE as email_tujuan_approve,
		C.NO_REALISASI as no_realisasi,
		C.SYS_USER_REALISASI as user_realisasi,
		C.SYS_TGL_REALISASI as tgl_realisasi,
		C.SYS_JAM_REALISASI as jam_realisasi,
		C.SYS_USER_CONF_REAL as user_conf_real,
		C.SYS_TGL_CONF_REAL as tgl_conf_real,
		C.JAM_CONF_REAL as jam_conf_real,
		C.SYS_USER_CONF_OC as user_conf_oc,
		C.SYS_TGL_CONF_OC as tgl_conf_oc,
		C.SYS_JAM_CONF_OC as jam_conf_oc,
		C.SYS_HP_ASAL_CONF_OC as hp_asal_conf_oc,
		C.SYS_HP_TUJUAN_CONF_OC as hp_tujuan_conf_oc,
		C.SYS_EMAIL_ASAL_CONF_OC as email_asal_conf_oc,
		C.SYS_EMAIL_TUJUAN_CONF_OC as email_tujuan_conf_oc,
		C.F_BATAL as f_batal,
		C.SYS_USER_BATAL as user_batal,
		C.SYS_TGL_BATAL as tgl_batal,
		C.SYS_JAM_BATAL as jam_batal,
		C.SYS_ALASAN_BATAL as alasan_batal,
		C.SYS_HP_ASAL_BATAL as hp_asal_batal,
		C.SYS_HP_TUJUAN_BATAL as hp_tujuan_batal,
		C.SYS_EMAIL_ASAL_BATAL as email_asal_batal,
		C.SYS_EMAIL_TUJUAN_BATAL as email_tujuan_batal,
		C.POSISI as posisi
	</sql>
	
	<sql id="defaultColoumn">
		<include refid="basicColoumn"/>,
		P.DESCRIPTION as posisi_desc,
		PD.DIVISI_KD as pd_divisi_kd,
		PD.SUBDIV_KD as pd_subdiv_kd,
		PD.DEPT_KD as pd_dept_kd,
		PD.LOK_KD as pd_lok_kd,
		PD.SYS_NO_PPUC as pd_no_ppuc,
		PD.TGL_PPUC as pd_tgl_ppuc,
		PD.KD_GROUP as pd_kd_group,
		PD.KD_BIAYA as pd_kd_biaya,
		PD.NO_BATCH as pd_no_batch,
		PD.QTY as pd_qty,
		PD.HARGA as pd_harga,
		PD.TOTAL as pd_total,
		PD.QTY_OLD as pd_qty_old,
		PD.HARGA_OLD as pd_harga_old,
		PD.TOTAL_OLD as pd_total_old,
		PD.KETERANGAN as pd_keterangan,
		PD.KET_APPROVE as pd_ket_approve,
		PD.NO_REALISASI as pd_no_realisasi,
		PD.QTY_REAL_CBG as pd_qty_real_cbg,
		PD.HARGA_REAL_CBG as pd_harga_real_cbg,
		PD.TOTAL_REAL_CBG as pd_total_real_cbg,
		PD.QTY_REAL_OC as pd_qty_real_oc,
		PD.HARGA_REAL_OC as pd_harga_real_oc,
		PD.TOTAL_REAL_OC as pd_total_real_oc,
		PD.NILAI_CHARGE as pd_nilai_charge,
		dc.DIVISI_KD as dc_divisi_kd,
		dc.DIVISI_NM as dc_divisi_nm,
		dac.DIVISI_KD as dac_divisi_kd,
		dac.DIVISI_NM as dac_divisi_nm,
		sc.SUBDIV_KD as sc_subdiv_kd,
		sc.SUBDIV_NM as sc_subdiv_nm,
		sac.SUBDIV_KD as sac_subdiv_kd,
		sac.SUBDIV_NM as sac_subdiv_nm,
		dpc.DEPT_KD as dpc_dept_kd,
		dpc.DEPT_NM as dpc_dept_nm,
		dpac.DEPT_KD as dpac_dept_kd,
		dpac.DEPT_NM as dpac_dept_nm,
		lc.LOK_KD as lc_lok_kd,
		lc.LOK_NM as lc_lok_nm,
		lc.PROPINSI as lc_propinsi,
		lc.KOTA as lc_kota,
		lc.EMAIL as lc_email,
		lc.F_TUTUP as lc_f_tutup,
		lc.TGL_TUTUP as lc_tgl_tutup,
		uc.USER_ID as uc_user_id,
		uc.USER_NAME as uc_user_name,
		uc.NO_HP as uc_no_hp,
		uc.EMAIL as uc_email,
		ucc.USER_ID as ucc_user_id,
		ucc.USER_NAME as ucc_user_name,
		ucc.NO_HP as ucc_no_hp,
		ucc.EMAIL as ucc_email,
		uac.USER_ID as uac_user_id,
		uac.USER_NAME as uac_user_name,
		uac.NO_HP as uac_no_hp,
		uac.EMAIL as uac_email,
		urc.USER_ID as urc_user_id,
		urc.USER_NAME as urc_user_name,
		urc.NO_HP as urc_no_hp,
		urc.EMAIL as urc_email,
		ucrc.USER_ID as ucrc_user_id,
		ucrc.USER_NAME as ucrc_user_name,
		ucrc.NO_HP as ucrc_no_hp,
		ucrc.EMAIL as ucrc_email,
		ucoc.USER_ID as ucoc_user_id,
		ucoc.USER_NAME as ucoc_user_name,
		ucoc.NO_HP as ucoc_no_hp,
		ucoc.EMAIL as ucoc_email,
		gb.KD_GROUP as gb_kd_group,
		gb.NM_GROUP as gb_nm_group,
		db.KD_BIAYA as db_kd_biaya,
		db.KD_GROUP as db_kd_group,
		db.BIAYA_DESCRIPTION as db_biaya_description,
		db.F_PUTUS as db_f_putus,
		db.F_USED as db_f_used,
		db.ACC_NO as db_acc_no	
	</sql>

	<!-- query select, dengan kolom yang default di atas, apabila mau ditambahkan join juga bisa disini
	perubahan query ini akan mempengaruhi select paging dan get di bawah  -->
	<sql id="selectQuery">
		select * from (
			select <include refid="defaultColoumn" /> from ppuc_h C
			left outer join sys_posisi_dok P on C.POSISI = P.ID
			left outer join ppuc_d PD on C.sys_no_ppuc = PD.sys_no_ppuc and C.tgl_ppuc = PD.tgl_ppuc and C.lok_kd = PD.lok_kd
			left outer join divisi dc on C.divisi_kd = dc.divisi_kd
			left outer join subdivisi sc on C.subdiv_kd = sc.subdiv_kd
			left outer join departmen dpc on C.dept_kd = dpc.dept_kd
			left outer join lokasi lc on C.lok_kd = lc.lok_kd
			left outer join divisi dac on C.sys_divisi_kd_apprv = dac.divisi_kd
			left outer join subdivisi sac on C.sys_subdiv_kd_apprv = sac.subdiv_kd
			left outer join departmen dpac on C.sys_dept_kd_apprv = dpac.dept_kd
			left outer join user uc on C.sys_user_create = uc.user_id
			left outer join user ucc on C.sys_user_confirm = ucc.user_id
			left outer join user uac on C.sys_user_approve = uac.user_id
			left outer join user urc on C.sys_user_realisasi = urc.user_id
			left outer join user ucrc on C.sys_user_conf_real = ucrc.user_id
			left outer join user ucoc on C.sys_user_conf_oc = ucoc.user_id
			left outer join group_biaya gb on PD.kd_group = gb.kd_group
			left outer join detail_biaya db on PD.kd_biaya = db.kd_biaya
		)T
	</sql>

	<!-- kolom apa aja yang mau disearching -->
	<sql id="searchTambahan">
		Where 1=1
			<if test="no_batch != null">AND T.no_batch = #{no_batch}</if>
			<if test="no_ppuc != null">AND T.no_ppuc = #{no_ppuc}</if>
	</sql>

	<!-- kolom apa aja yang mau disearching -->
	<sql id="search">
		WHERE 1=1 AND (
			 divisi_kd like  CONCAT('%', #{search}, '%')
			 OR subdiv_kd like  CONCAT('%', #{search}, '%')
			 OR dept_kd like  CONCAT('%', #{search}, '%')
			 OR lok_kd like  CONCAT('%', #{search}, '%')
			 OR no_ppuc like  CONCAT('%', #{search}, '%')
			 OR no_batch like  CONCAT('%', #{search}, '%')
			 OR user_create like  CONCAT('%', #{search}, '%')
			 OR jam_create like  CONCAT('%', #{search}, '%')
			 OR user_confirm like  CONCAT('%', #{search}, '%')
			 OR jam_confirm like  CONCAT('%', #{search}, '%')
			 OR hp_asal_create like  CONCAT('%', #{search}, '%')
			 OR hp_tujuan_create like  CONCAT('%', #{search}, '%')
			 OR email_asal_create like  CONCAT('%', #{search}, '%')
			 OR email_tujuan_create like  CONCAT('%', #{search}, '%')
			 OR divisi_kd_apprv like  CONCAT('%', #{search}, '%')
			 OR subdiv_kd_apprv like  CONCAT('%', #{search}, '%')
			 OR dept_kd_apprv like  CONCAT('%', #{search}, '%')
			 OR user_approve like  CONCAT('%', #{search}, '%')
			 OR jam_approve like  CONCAT('%', #{search}, '%')
			 OR hp_asal_approve like  CONCAT('%', #{search}, '%')
			 OR hp_tujuan_approve like  CONCAT('%', #{search}, '%')
			 OR email_asal_approve like  CONCAT('%', #{search}, '%')
			 OR email_tujuan_approve like  CONCAT('%', #{search}, '%')
			 OR no_realisasi like  CONCAT('%', #{search}, '%')
			 OR user_realisasi like  CONCAT('%', #{search}, '%')
			 OR jam_realisasi like  CONCAT('%', #{search}, '%')
			 OR user_conf_real like  CONCAT('%', #{search}, '%')
			 OR jam_conf_real like  CONCAT('%', #{search}, '%')
			 OR user_conf_oc like  CONCAT('%', #{search}, '%')
			 OR jam_conf_oc like  CONCAT('%', #{search}, '%')
			 OR hp_asal_conf_oc like  CONCAT('%', #{search}, '%')
			 OR hp_tujuan_conf_oc like  CONCAT('%', #{search}, '%')
			 OR email_asal_conf_oc like  CONCAT('%', #{search}, '%')
			 OR email_tujuan_conf_oc like  CONCAT('%', #{search}, '%')
			 OR user_batal like  CONCAT('%', #{search}, '%')
			 OR jam_batal like  CONCAT('%', #{search}, '%')
			 OR alasan_batal like  CONCAT('%', #{search}, '%')
			 OR hp_asal_batal like  CONCAT('%', #{search}, '%')
			 OR hp_tujuan_batal like  CONCAT('%', #{search}, '%')
			 OR email_asal_batal like  CONCAT('%', #{search}, '%')
			 OR email_tujuan_batal like  CONCAT('%', #{search}, '%')
		)
	</sql>

	<!-- insert query untuk table ini -->
	<insert id="insert" parameterType="PpucH">
		INSERT INTO ppuc_h (
			DIVISI_KD,
			SUBDIV_KD,
			DEPT_KD,
			LOK_KD,
			SYS_NO_PPUC,
			TGL_PPUC,
			NO_BATCH,
			SYS_USER_CREATE,
			SYS_TGL_CREATE,
			SYS_JAM_CREATE,
			SYS_USER_CONFIRM,
			SYS_TGL_CONFIRM,
			SYS_JAM_CONFIRM,
			SYS_HP_ASAL_CREATE,
			SYS_HP_TUJUAN_CREATE,
			SYS_EMAIL_ASAL_CREATE,
			SYS_EMAIL_TUJUAN_CREATE,
			SYS_DIVISI_KD_APPRV,
			SYS_SUBDIV_KD_APPRV,
			SYS_DEPT_KD_APPRV,
			SYS_USER_APPROVE,
			SYS_TGL_APPROVE,
			SYS_JAM_APPROVE,
			F_APPROVAL,
			SYS_HP_ASAL_APPROVE,
			SYS_HP_TUJUAN_APPROVE,
			SYS_EMAIL_ASAL_APPROVE,
			SYS_EMAIL_TUJUAN_APPROVE,
			NO_REALISASI,
			SYS_USER_REALISASI,
			SYS_TGL_REALISASI,
			SYS_JAM_REALISASI,
			SYS_USER_CONF_REAL,
			SYS_TGL_CONF_REAL,
			JAM_CONF_REAL,
			SYS_USER_CONF_OC,
			SYS_TGL_CONF_OC,
			SYS_JAM_CONF_OC,
			SYS_HP_ASAL_CONF_OC,
			SYS_HP_TUJUAN_CONF_OC,
			SYS_EMAIL_ASAL_CONF_OC,
			SYS_EMAIL_TUJUAN_CONF_OC,
			F_BATAL,
			SYS_USER_BATAL,
			SYS_TGL_BATAL,
			SYS_JAM_BATAL,
			SYS_ALASAN_BATAL,
			SYS_HP_ASAL_BATAL,
			SYS_HP_TUJUAN_BATAL,
			SYS_EMAIL_ASAL_BATAL,
			SYS_EMAIL_TUJUAN_BATAL,
			POSISI
		) values (
			#{divisi_kd},
			#{subdiv_kd},
			#{dept_kd},
			#{lok_kd},
			#{no_ppuc},
			#{tgl_ppuc},
			#{no_batch},
			#{user_create},
			#{tgl_create},
			#{jam_create},
			#{user_confirm},
			#{tgl_confirm},
			#{jam_confirm},
			#{hp_asal_create},
			#{hp_tujuan_create},
			#{email_asal_create},
			#{email_tujuan_create},
			#{divisi_kd_apprv},
			#{subdiv_kd_apprv},
			#{dept_kd_apprv},
			#{user_approve},
			#{tgl_approve},
			#{jam_approve},
			#{f_approval},
			#{hp_asal_approve},
			#{hp_tujuan_approve},
			#{email_asal_approve},
			#{email_tujuan_approve},
			#{no_realisasi},
			#{user_realisasi},
			#{tgl_realisasi},
			#{jam_realisasi},
			#{user_conf_real},
			#{tgl_conf_real},
			#{jam_conf_real},
			#{user_conf_oc},
			#{tgl_conf_oc},
			#{jam_conf_oc},
			#{hp_asal_conf_oc},
			#{hp_tujuan_conf_oc},
			#{email_asal_conf_oc},
			#{email_tujuan_conf_oc},
			#{f_batal},
			#{user_batal},
			#{tgl_batal},
			#{jam_batal},
			#{alasan_batal},
			#{hp_asal_batal},
			#{hp_tujuan_batal},
			#{email_asal_batal},
			#{email_tujuan_batal},
			#{posisi}
		)
	</insert>

	<!-- update query untuk table ini -->
	<update id="update" parameterType="PpucH">
		UPDATE ppuc_h
		<set>
			<if test="divisi_kd != null">DIVISI_KD = #{divisi_kd}, </if>
			<if test="subdiv_kd != null">SUBDIV_KD = #{subdiv_kd}, </if>
			<if test="dept_kd != null">DEPT_KD = #{dept_kd}, </if>
			<if test="lok_kd != null">LOK_KD = #{lok_kd}, </if>
			<if test="no_ppuc != null">SYS_NO_PPUC = #{no_ppuc}, </if>
			<if test="tgl_ppuc != null">TGL_PPUC = #{tgl_ppuc}, </if>
			<if test="no_batch != null">NO_BATCH = #{no_batch}, </if>
			<if test="user_create != null">SYS_USER_CREATE = #{user_create}, </if>
			<if test="tgl_create != null">SYS_TGL_CREATE = #{tgl_create}, </if>
			<if test="jam_create != null">SYS_JAM_CREATE = #{jam_create}, </if>
			<if test="user_confirm != null">SYS_USER_CONFIRM = #{user_confirm}, </if>
			<if test="tgl_confirm != null">SYS_TGL_CONFIRM = #{tgl_confirm}, </if>
			<if test="jam_confirm != null">SYS_JAM_CONFIRM = #{jam_confirm}, </if>
			<if test="hp_asal_create != null">SYS_HP_ASAL_CREATE = #{hp_asal_create}, </if>
			<if test="hp_tujuan_create != null">SYS_HP_TUJUAN_CREATE = #{hp_tujuan_create}, </if>
			<if test="email_asal_create != null">SYS_EMAIL_ASAL_CREATE = #{email_asal_create}, </if>
			<if test="email_tujuan_create != null">SYS_EMAIL_TUJUAN_CREATE = #{email_tujuan_create}, </if>
			<if test="divisi_kd_apprv != null">SYS_DIVISI_KD_APPRV = #{divisi_kd_apprv}, </if>
			<if test="subdiv_kd_apprv != null">SYS_SUBDIV_KD_APPRV = #{subdiv_kd_apprv}, </if>
			<if test="dept_kd_apprv != null">SYS_DEPT_KD_APPRV = #{dept_kd_apprv}, </if>
			<if test="user_approve != null">SYS_USER_APPROVE = #{user_approve}, </if>
			<if test="tgl_approve != null">SYS_TGL_APPROVE = #{tgl_approve}, </if>
			<if test="jam_approve != null">SYS_JAM_APPROVE = #{jam_approve}, </if>
			<if test="f_approval != null">F_APPROVAL = #{f_approval}, </if>
			<if test="hp_asal_approve != null">SYS_HP_ASAL_APPROVE = #{hp_asal_approve}, </if>
			<if test="hp_tujuan_approve != null">SYS_HP_TUJUAN_APPROVE = #{hp_tujuan_approve}, </if>
			<if test="email_asal_approve != null">SYS_EMAIL_ASAL_APPROVE = #{email_asal_approve}, </if>
			<if test="email_tujuan_approve != null">SYS_EMAIL_TUJUAN_APPROVE = #{email_tujuan_approve}, </if>
			<if test="no_realisasi != null">NO_REALISASI = #{no_realisasi}, </if>
			<if test="user_realisasi != null">SYS_USER_REALISASI = #{user_realisasi}, </if>
			<if test="tgl_realisasi != null">SYS_TGL_REALISASI = #{tgl_realisasi}, </if>
			<if test="jam_realisasi != null">SYS_JAM_REALISASI = #{jam_realisasi}, </if>
			<if test="user_conf_real != null">SYS_USER_CONF_REAL = #{user_conf_real}, </if>
			<if test="tgl_conf_real != null">SYS_TGL_CONF_REAL = #{tgl_conf_real}, </if>
			<if test="jam_conf_real != null">JAM_CONF_REAL = #{jam_conf_real}, </if>
			<if test="user_conf_oc != null">SYS_USER_CONF_OC = #{user_conf_oc}, </if>
			<if test="tgl_conf_oc != null">SYS_TGL_CONF_OC = #{tgl_conf_oc}, </if>
			<if test="jam_conf_oc != null">SYS_JAM_CONF_OC = #{jam_conf_oc}, </if>
			<if test="hp_asal_conf_oc != null">SYS_HP_ASAL_CONF_OC = #{hp_asal_conf_oc}, </if>
			<if test="hp_tujuan_conf_oc != null">SYS_HP_TUJUAN_CONF_OC = #{hp_tujuan_conf_oc}, </if>
			<if test="email_asal_conf_oc != null">SYS_EMAIL_ASAL_CONF_OC = #{email_asal_conf_oc}, </if>
			<if test="email_tujuan_conf_oc != null">SYS_EMAIL_TUJUAN_CONF_OC = #{email_tujuan_conf_oc}, </if>
			<if test="f_batal != null">F_BATAL = #{f_batal}, </if>
			<if test="user_batal != null">SYS_USER_BATAL = #{user_batal}, </if>
			<if test="tgl_batal != null">SYS_TGL_BATAL = #{tgl_batal}, </if>
			<if test="jam_batal != null">SYS_JAM_BATAL = #{jam_batal}, </if>
			<if test="alasan_batal != null">SYS_ALASAN_BATAL = #{alasan_batal}, </if>
			<if test="hp_asal_batal != null">SYS_HP_ASAL_BATAL = #{hp_asal_batal}, </if>
			<if test="hp_tujuan_batal != null">SYS_HP_TUJUAN_BATAL = #{hp_tujuan_batal}, </if>
			<if test="email_asal_batal != null">SYS_EMAIL_ASAL_BATAL = #{email_asal_batal}, </if>
			<if test="email_tujuan_batal != null">SYS_EMAIL_TUJUAN_BATAL = #{email_tujuan_batal}, </if>
			<if test="posisi != null">POSISI = #{posisi} </if>
		</set>
		WHERE  
			DIVISI_KD= #{divisi_kd} 
			AND SUBDIV_KD= #{subdiv_kd}
			AND DEPT_KD= #{dept_kd}
			AND LOK_KD= #{lok_kd}
			AND SYS_NO_PPUC= #{no_ppuc}
			AND TGL_PPUC= #{tgl_ppuc}
	</update>

	<!-- remove query untuk table ini -->
	<delete id="remove" parameterType="HashMap">
		delete from ppuc_h
		 <where> 
			<if test="divisi_kd != null">DIVISI_KD= #{divisi_kd} </if>
			<if test="subdiv_kd != null"> AND SUBDIV_KD= #{subdiv_kd} </if>
			<if test="dept_kd != null"> AND DEPT_KD= #{dept_kd} </if>
			<if test="lok_kd != null"> AND LOK_KD= #{lok_kd} </if>
			<if test="no_ppuc != null"> AND SYS_NO_PPUC= #{no_ppuc} </if>
			<if test="tgl_ppuc != null"> AND TGL_PPUC= #{tgl_ppuc} </if>
		 </where> 
	</delete>

	<!-- get berdasarkan primary key -->
	<select id="get" parameterType="HashMap" resultMap="PpucHMap">
		<include refid="selectQuery" />
		 <where> 
			<if test="divisi_kd != null"> T.divisi_kd= #{divisi_kd} </if>
			<if test="subdiv_kd != null"> AND T.subdiv_kd= #{subdiv_kd} </if>
			<if test="dept_kd != null"> AND T.dept_kd= #{dept_kd} </if>
			<if test="lok_kd != null"> AND T.lok_kd= #{lok_kd} </if>
			<if test="no_ppuc != null"> AND T.no_ppuc= #{no_ppuc} </if>
			<if test="tgl_ppuc != null"> AND T.tgl_ppuc= #{tgl_ppuc} </if>
			<if test="no_batch != null"> AND T.no_batch= #{no_batch} </if>
		 </where> 
	</select>

	<!-- get ALL row -->
	<select id="getAll" resultMap="PpucHMap">
		<include refid="selectQuery" />
	</select>

	<!-- select berdasarkan paging parameter -->
	<select id="selectPagingList" parameterType="PpucH" resultMap="PpucHMap">
			SELECT x.* from (
				select * from (
					<include refid="selectQuery" />
					<include refid="searchTambahan" />
				) y
				<if test="search != null">
					<include refid="search" />
				</if>
				<if test="sort != null">
					order by ${sort}
				</if>
				 LIMIT #{page} , #{rowcount}
			)x
	</select>

	<!-- select jumlah seluruh data yang akan di paging -->
	<select id="selectPagingCount" parameterType="PpucH" resultType="Integer">
		select count(*) from(
			SELECT x.* from (
				select * from (
					<include refid="selectQuery" />
					<include refid="searchTambahan" />
				) y
				<if test="search != null">
					<include refid="search" />
				</if>
			)x
		) z
	</select>

	<!-- QUERY CUSTOM LAIN-LAIN bisa dimasukkan dibawah ini -->
	
	<sql id="selectQuerySatu">
		select * from (
			select <include refid="basicColoumn" />, P.description posisi_desc,
			dc.divisi_nm, sc.subdiv_nm, dpc.dept_nm, lc.lok_nm
			from ppuc_h C, sys_posisi_dok P , divisi dc ,subdivisi sc, departmen dpc, lokasi lc 
			where  C.POSISI = P.ID
			and  C.divisi_kd = dc.divisi_kd
			and C.subdiv_kd = sc.subdiv_kd and C.divisi_kd = sc.divisi_kd
			and C.dept_kd = dpc.dept_kd and C.subdiv_kd = dpc.subdiv_kd and C.divisi_kd = dpc.divisi_kd
			and  C.lok_kd = lc.lok_kd and C.dept_kd = lc.dept_kd and C.subdiv_kd = lc.subdiv_kd and C.divisi_kd = lc.divisi_kd
		)T
	</sql>
	
	<!-- kolom apa aja yang mau disearching -->
	<sql id="searchTambahanSatu">
		Where 1=1
			<if test="no_batch != null">AND T.no_batch = #{no_batch}</if>
		group by no_batch
	</sql>
	
	<!-- select berdasarkan paging parameter -->
	<select id="selectPagingListSatu" parameterType="PpucH" resultType="PpucH">
			SELECT x.* from (
				select * from (
					<include refid="selectQuerySatu" />
					<include refid="searchTambahanSatu" />
				) y
				<if test="search != null">
					<include refid="search" />
				</if>
				<if test="sort != null">
					order by ${sort}
				</if>
				 LIMIT #{page} , #{rowcount}
			)x
	</select>

	<!-- select jumlah seluruh data yang akan di paging -->
	<select id="selectPagingCountSatu" parameterType="PpucH" resultType="Integer">
		select count(*) from(
			SELECT x.* from (
				select * from (
					<include refid="selectQuerySatu" />
					<include refid="searchTambahanSatu" />
				) y
				<if test="search != null">
					<include refid="search" />
				</if>
			)x
		) z
	</select>
	
	<select id="selectMessageTemplate" parameterType="HashMap" resultType="HashMap" >
<!-- 	columns -->
	</select>

</mapper>
