<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.melawai.ppuc.persistence.UserMapper">

	<cache />

	<!-- result map-->
	<resultMap type="User" id="UserMap">
		<id property="user_id" column="user_id"  />  
		<result property="password" column="password" />
		<result property="user_name" column="user_name" />
		<result property="no_hp" column="no_hp" />
		<result property="email" column="email" />
		<result property="kd_fungsi" column="kd_fungsi" />
		<result property="group_kd" column="group_kd" />
		<result property="f_aktif" column="f_aktif" />
		<result property="user_create" column="user_create" />
		<result property="tgl_create" column="tgl_create" />
		<result property="jam_create" column="jam_create" />
		<result property="user_update" column="user_update" />
		<result property="tgl_update" column="tgl_update" />
		<result property="jam_update" column="jam_update" />
		<result property="user_nonaktif" column="user_nonaktif" />
		<result property="tgl_nonaktif" column="tgl_nonaktif" />
		<result property="jam_nonaktif" column="jam_nonaktif" />
		<association property="groupUser" javaType="GroupUser"  >
			<id property="group_kd" column="gu_group_kd"  />  
			<result property="group_kd" column="gu_group_kd" />
			<result property="group_nm" column="gu_group_nm" />
			<result property="id_role" column="gu_id_role" />
			<association property="role" javaType="Role"  >
				<id property="id_role" column="r_id_role"  />  
				<result property="role_name" column="r_role_name" />
			</association>
			<collection property="menus" ofType="Menu" >
				<id property="menu_id" column="cm_menu_id"  />  
				<result property="parent" column="cm_parent" />
				<result property="nama" column="cm_nama" />
				<result property="link" column="cm_link" />
				<result property="level" column="cm_level" />
				<result property="urut" column="cm_urut" />
				<result property="path" column="cm_path" />
				<result property="f_aktif" column="cm_f_aktif" />
				<association property="menu_parent" javaType="Menu">
					<id property="menu_id" column="pm_menu_id"  />  
					<result property="parent" column="pm_parent" />
					<result property="nama" column="pm_nama" />
					<result property="link" column="pm_link" />
					<result property="level" column="pm_level" />
					<result property="urut" column="pm_urut" />
					<result property="path" column="pm_path" />
					<result property="f_aktif" column="pm_f_aktif" />
				</association>
			</collection>
		</association>
		<association property="mFungsi" javaType="MFungsi">
			<id property="kd_fungsi" column="mf_kd_fungsi"  />  
			<result property="kd_fungsi" column="mf_kd_fungsi" />
			<result property="nm_fungsi" column="mf_nm_fungsi" />
			<result property="mail_seq" column="mf_mail_seq" />
		</association>
	</resultMap>

	<!-- nama kolom yang ingin ditampilkan -->
	<sql id="defaultColoumn">
		C.USER_ID as user_id,
		C.PASSWORD as password,
		C.USER_NAME as user_name,
		C.NO_HP as no_hp,
		C.EMAIL as email,
		C.KD_FUNGSI as kd_fungsi,
		C.GROUP_KD as group_kd,
		C.F_AKTIF as f_aktif,
		C.SYS_USER_CREATE as user_create,
		C.SYS_TGL_CREATE as tgl_create,
		C.SYS_JAM_CREATE as jam_create,
		C.SYS_USER_UPDATE as user_update,
		C.SYS_TGL_UPDATE as tgl_update,
		C.SYS_JAM_UPDATE as jam_update,
		C.SYS_USER_NONAKTIF as user_nonaktif,
		C.SYS_TGL_NONAKTIF as tgl_nonaktif,
		C.SYS_JAM_NONAKTIF as jam_nonaktif,
		GU.GROUP_KD as gu_group_kd,
		GU.GROUP_NM as gu_group_nm,
		GU.ID_ROLE as gu_id_role,
		R.ID_ROLE as r_id_role,
		R.ROLE_NAME as r_role_name,
		MF.KD_FUNGSI as mf_kd_fungsi,
		MF.NM_FUNGSI as mf_nm_fungsi,
		MF.MAIL_SEQ as mf_mail_seq,
		CM.SYS_MENU_ID as cm_menu_id,
		CM.PARENT as cm_parent,
		CM.NAMA as cm_nama,
		CM.LINK as cm_link,
		CM.LEVEL as cm_level,
		CM.URUT as cm_urut,
		CM.SYS_PATH as cm_path,
		CM.F_AKTIF as cm_f_aktif,
		PM.SYS_MENU_ID as pm_menu_id,
		PM.PARENT as pm_parent,
		PM.NAMA as pm_nama,
		PM.LINK as pm_link,
		PM.LEVEL as pm_level,
		PM.URUT as pm_urut,
		PM.SYS_PATH as pm_path,
		PM.F_AKTIF as pm_f_aktif
	</sql>

	<!-- query select, dengan kolom yang default di atas, apabila mau ditambahkan join juga bisa disini
	perubahan query ini akan mempengaruhi select paging dan get di bawah  -->
	<sql id="selectQuery">
		select * from (
			select <include refid="defaultColoumn" /> from user C
			left outer join group_user gu on c.group_kd = gu.group_kd
			left outer join role r on gu.id_role = r.id_role
			left outer join m_fungsi mf on c.kd_fungsi = mf.kd_fungsi
			left outer join sys_akses_menu am on gu.group_kd = am.group_kd
			left outer join menu cm on am.menu_id = cm.sys_menu_id
			left outer join menu pm on cm.parent = pm.sys_menu_id
			where cm.f_aktif =1
			order by cm.sys_path, cm.urut
		)T
	</sql>

	<!-- kolom apa aja yang mau disearching -->
	<sql id="searchTambahan">
		Where 1=1
			<!--!!TAMBAHAN parameter untuk search-->
	</sql>

	<!-- kolom apa aja yang mau disearching -->
	<sql id="search">
		WHERE 1=1 AND (
			 user_id like  CONCAT('%', #{search}, '%')
			 OR password like  CONCAT('%', #{search}, '%')
			 OR user_name like  CONCAT('%', #{search}, '%')
			 OR no_hp like  CONCAT('%', #{search}, '%')
			 OR email like  CONCAT('%', #{search}, '%')
			 OR kd_fungsi like  CONCAT('%', #{search}, '%')
			 OR group_kd like  CONCAT('%', #{search}, '%')
			 OR user_create like  CONCAT('%', #{search}, '%')
			 OR jam_create like  CONCAT('%', #{search}, '%')
			 OR user_update like  CONCAT('%', #{search}, '%')
			 OR jam_update like  CONCAT('%', #{search}, '%')
			 OR user_nonaktif like  CONCAT('%', #{search}, '%')
			 OR jam_nonaktif like  CONCAT('%', #{search}, '%')
		)
	</sql>

	<!-- insert query untuk table ini -->
	<insert id="insert" parameterType="User">
		INSERT INTO user (
			USER_ID,
			PASSWORD,
			USER_NAME,
			NO_HP,
			EMAIL,
			KD_FUNGSI,
			GROUP_KD,
			F_AKTIF,
			SYS_USER_CREATE,
			SYS_TGL_CREATE,
			SYS_JAM_CREATE,
			SYS_USER_UPDATE,
			SYS_TGL_UPDATE,
			SYS_JAM_UPDATE,
			SYS_USER_NONAKTIF,
			SYS_TGL_NONAKTIF,
			SYS_JAM_NONAKTIF
		) values (
			#{user_id},
			#{password},
			#{user_name},
			#{no_hp},
			#{email},
			#{kd_fungsi},
			#{group_kd},
			#{f_aktif},
			#{user_create},
			#{tgl_create},
			#{jam_create},
			#{user_update},
			#{tgl_update},
			#{jam_update},
			#{user_nonaktif},
			#{tgl_nonaktif},
			#{jam_nonaktif}
		)
	</insert>

	<!-- update query untuk table ini -->
	<update id="update" parameterType="User">
		UPDATE user
		<set>
			<if test="user_id != null">USER_ID = #{user_id}, </if>
			<if test="password != null">PASSWORD = #{password}, </if>
			<if test="user_name != null">USER_NAME = #{user_name}, </if>
			<if test="no_hp != null">NO_HP = #{no_hp}, </if>
			<if test="email != null">EMAIL = #{email}, </if>
			<if test="kd_fungsi != null">KD_FUNGSI = #{kd_fungsi}, </if>
			<if test="group_kd != null">GROUP_KD = #{group_kd}, </if>
			<if test="f_aktif != null">F_AKTIF = #{f_aktif}, </if>
			<if test="user_create != null">SYS_USER_CREATE = #{user_create}, </if>
			<if test="tgl_create != null">SYS_TGL_CREATE = #{tgl_create}, </if>
			<if test="jam_create != null">SYS_JAM_CREATE = #{jam_create}, </if>
			<if test="user_update != null">SYS_USER_UPDATE = #{user_update}, </if>
			<if test="tgl_update != null">SYS_TGL_UPDATE = #{tgl_update}, </if>
			<if test="jam_update != null">SYS_JAM_UPDATE = #{jam_update}, </if>
			<if test="user_nonaktif != null">SYS_USER_NONAKTIF = #{user_nonaktif}, </if>
			<if test="tgl_nonaktif != null">SYS_TGL_NONAKTIF = #{tgl_nonaktif}, </if>
			<if test="jam_nonaktif != null">SYS_JAM_NONAKTIF = #{jam_nonaktif} </if>
		</set>
		WHERE  
			USER_ID= #{user_id} 
	</update>

	<!-- remove query untuk table ini -->
	<delete id="remove" parameterType="String">
		delete from user where USER_ID=#{value}
	</delete>

	<!-- get berdasarkan primary key -->
	<select id="get" parameterType="String" resultMap="UserMap">
		<include refid="selectQuery" />	where T.user_id=#{value}
	</select>

	<!-- get ALL row -->
	<select id="getAll" resultMap="UserMap">
		<include refid="selectQuery" />
	</select>

	<!-- select berdasarkan paging parameter -->
	<select id="selectPagingList" parameterType="User" resultMap="UserMap">
			SELECT x.* from (
				select * from (
					<include refid="selectQuery" />
					<include refid="searchTambahan" />
				) y
				<if test="search != null">
					<include refid="search" />
				</if>
				<if test="sort != null">
					order by ${sort}
				</if>
				 LIMIT #{page} , #{rowcount}
			)x
	</select>

	<!-- select jumlah seluruh data yang akan di paging -->
	<select id="selectPagingCount" parameterType="User" resultType="Integer">
		select count(*) from(
			SELECT x.* from (
				select * from (
					<include refid="selectQuery" />
					<include refid="searchTambahan" />
				) y
				<if test="search != null">
					<include refid="search" />
				</if>
			)x
		) z
	</select>

	<!-- QUERY CUSTOM LAIN-LAIN bisa dimasukkan dibawah ini -->

	<select id="loadUserByUsername" parameterType="String" resultMap="UserMap">
		<include refid="selectQuery" />
		where T.user_id=#{value}
	</select>
</mapper>
