/* ######### Slanted Divider Menu CSS ######### */
.slantedmenu {
	font-weight: bold;
}

.slantedmenu:after {
	/*Add margin between menu and rest of content in Firefox*/
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	margin: 2px;
}

.slantedmenu ul {
	text-indent: 10px;
	padding: 3px 0;
	margin: 0;
	background: black url(../images/blockdefault.gif) center center repeat-x;
	border: 1px solid #bebebe;
	text-align: center;
	/*set value to "center" for example to center items*/
	text-align: left;
}

.slantedmenu ul li {
	display: inline;
}

.slantedmenu ul li a {
	color: white;
	padding: 3px 0;
	padding-left: 5px;
	padding-right: 25px;
	text-indent: -10px;
	margin: 0;
	text-decoration: none;
	/* background: transparent url(../images/icons/slantdivider.gif) top right
		no-repeat; */
}

.slantedmenu ul li a:visited {
	color: white;
}

.slantedmenu ul li a:hover,.slantedmenu li a.selected  {
	color: white;
	background: transparent url(../images/blockactive.gif) center center repeat-x;
}

